
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="emp" class="com.xable.Employee" scope="singleton">

    </bean>
    <bean id="employee" class="com.xable.Employee" scope="prototype"></bean>
</beans>

